:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  display: block;
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  background: var(--primary-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  color: white;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.secondary-link {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

a.primary-link:hover {
  color: #fff;
}

a.secondary-link,
a.email-link {
  color: var(--primary-color);
}

.primary-link:hover,
.secondary-link:hover {
  opacity: 0.9;
  transition: all 0.1s ease-in-out;
}

.homepage-link {
  color: var(--primary-color);
  display: block;
  text-align: center;
}

.about-paragraphs {
  margin: 2rem auto;
  max-width: 800px;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  color: var(--primary-color);
  display: flex;
  font-size: 28px;
  justify-content: center;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
}
